<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1yr_G-jquCoV7KK_132ZDd-ThlPO5Co8</string>
	<key>GCM_SENDER_ID</key>
	<string>483168260964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saintGeorgeChurch.shepherdVoice</string>
	<key>PROJECT_ID</key>
	<string>shepard-s-voice</string>
	<key>STORAGE_BUCKET</key>
	<string>shepard-s-voice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483168260964:ios:b0dff13831da9fb3af2071</string>
</dict>
</plist>